.blogs-section {
  background-color: whitesmoke;
  font-size: larger;
  padding: 10.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.blog-container {
  background-color: white;
  /* border-top-right-radius: 5%; */
  border-top-left-radius: 5%;
  margin-bottom: 10rem;
}

.blog-img {
  width: 100%;
  max-height: 80vh;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.blog-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: max-content;
  margin-top: -6rem;
  padding-right: 2rem;
  border-top-right-radius: 4%;
  font-size: larger;
}

.blog-admin {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blog-date {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content-wrapper {
  margin: 2rem;
  padding: 2rem;
}

.blog-h1 {
  font-size: xx-large;
  margin: 10px 0px;
}

.blog-tags {
  font-size: medium;
  font-weight: bold;
  margin: 15px 0 10px 0;
}

.blog-content {
  padding-right: 4rem;
}

.read-or-hide {
  color: rgb(255, 118, 118);
  cursor: pointer;
}
