.group-card-root{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    margin: 10px 0px;
}

.group-card-title{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 12px;
}

.group-card-description{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(148, 148, 148);
}

.group-card-image{
    height: 56px;
    width: 56px;
    margin: 0px 15px;
    padding: 5px;
    border-radius: 28px;
    background-color: rgb(168, 206, 221);
}

@media screen and (max-width:560px) {
    .group-card-root{
        flex-basis: 100%;
    }
}