@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.project-card-img{
    width: 350px;
    height: 350px;
}
.project-card-h2{
    font-size: 50px;
    margin-left: 10px;
    font-weight: boldest;
}
.project-card-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 17px;
    margin-left: 10px;
}
.project-card-h4{
    font-size: 20px;
    margin-left: 10px;
}

.project-card-link{
    padding-left: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.project-card-link:hover{
    text-decoration: underline;
}
.project-card-desc{
    padding: 30px;
}
.project-tile{
    background-color: lightblue;
    display: inline-flex;
    margin: 30px 50px 30px 50px;
    align-items: center;
    width: 75%;
    margin-left: 12.5%;
    display: flex;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(0 0 .2rem black); 
    backdrop-filter: blur(10px);
}

.project-tile:hover{
    filter: drop-shadow(0 0 1.3rem black); 
    transform: scale(1.05);
}
@media screen and (max-width: 1024px) {
    .project-tile{
        display: flow-root;
    }
}
@media screen and (max-width: 510px) {
    .project-project-card-img{
        width: 250px;
        height: 250px;
    }
    .project-tile{
        margin: auto auto 20px auto;
    }
}
