.mainFooter {
  width: 100%;
  height: max-content;
  background-color: #5069ff;
  /* background-image: url(/static/media/Student.724ce49f.png); */
  background-image: url("../../../utils//images/Student.png");
  background-repeat: no-repeat;
}

.logo {
  grid-column: 2/3;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  max-width: 76.54px;
  max-height: 76.54px;
  font-size: 2.5rem;
  font-weight: 400;
  color: cyan;
}

.logo h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 0.3px;
  margin-top: 1rem;
  color: white;
}

.mainFooter span,
.mainFooter a {
  color: white;
}