:root{
    --Footer__Head:#111;
    --Footer__Main:#161616;
}
.spaced{
    margin: 0 auto;
    max-width: 1140px;
}
.Footer__HeadContainer{
    height: 120px;
    background-color: var(--Footer__Head);
    color: white;
    
}
.Footer__MainContainer{
    background-color: var(--Footer__Main);
    color: white;

}
.Footer__Head{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.Footer__Main{
    display: flex;
    flex-wrap: wrap;
}
.Footer__MainCols{
    flex:0 0 33.33%;
    max-width: 33.33%;
}
.Footer__HeadSocialsContainer{
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    flex-basis: 250px;
    justify-content: space-around;
    
}
.Footer__HeadSocials{
    display: flex;
}
.Footer__HeadTitle{
    font-size: 2rem;
}




